@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prosto+One&display=swap');

@import "tailwindcss";



@theme {
  /* COLORS */
  --color-primary: #E64A19;
  /* button */
  --color-border-light: #e1d9cf;
  /* line */
  --color-text: #282828;
  /* text */
  --color-text-alt: #ffffff;
  /* AltText */
  --color-bg-block: #F8F8FF;
  /* BlockBackground */
  --color-bg-base: #FAFAFA;
  /* Background | Logo */
  --color-border-dark: #290d03;


  /* FONTS */
  --font-prosto: 'Prosto One';
  --font-montserrat: 'Montserrat';


}

body {
  background-color: var(--color-bg-base);
  font-family: var(--font-montserrat);
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .title {
    @apply font-prosto text-2xl md:text-3xl lg:text-4xl xl:text-4xl text-text;
  }


  .btn {
    @apply font-montserrat inline-block text-base md:text-lg lg:text-xl rounded-none font-normal px-4 py-2 md:px-5 md:py-2.5 lg:px-6 lg:py-3 transition-all duration-300 ease-in-out;
  }

  .btn-primary {
    @apply bg-[var(--color-primary)] text-white;
  }

  .btn-primary:hover {
    @apply bg-[#d13f15];
  }


}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideLeft {
  animation: slideLeft 0.7s ease-in-out forwards;
}

.animate-slideRight {
  animation: slideRight 0.7s ease-in-out forwards;
}